$redColor: #ea5b54;

.container {
  display: grid;
  gap: 10px;
  grid-template:
    'header header' 50px
    'aside  main' 1fr
    'aside  footer' 50px /
    200px 1fr;

  header {
    grid-area: header;
    background-color: aquamarine;
  }

  aside {
    grid-area: aside;
    background-color: #ea5b54;
  }

  main {
    grid-area: main;
    background-color: bisque;
  }

  footer {
    grid-area: footer;
    background-color: brown;
  }
}
